{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center pt-5 pb-5">
  <div class="card shadow p-4 animated-card" style="width: 100%; max-width: 400px;">
    <div class="text-center mb-3">
      <img src="{{ url_for('static', filename='SpotCancerAI.png') }}" alt="Logo" style="width: 100px;">
    </div>
    <h4 class="text-center mb-4">Reset Your Password</h4>

    <form method="POST">
      <div class="form-floating mb-3">
        <input type="email" name="email" class="form-control" id="floatingEmail" placeholder="name@example.com" required>
        <label for="floatingEmail">Email address</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" name="new_password" class="form-control" id="floatingNewPassword" placeholder="New Password" required>
        <label for="floatingNewPassword">New Password</label>
      </div>
      <button type="submit" class="btn btn-primary w-100 py-2">Reset Password</button>
    </form>
    <div class="text-center mt-3">
      <a href="{{ url_for('login') }}">Back to Login</a>
    </div>
  </div>
</div>
{% endblock %}